$icomoon-font-family: "appico" !default;
$icomoon-font-path: "../fonts" !default;

$icon-support: "\e900";
$icon-settings: "\e901";
$icon-dashboard: "\e902";
$icon-files: "\e903";
$icon-mail: "\e904";

