
.app {
  height: 100%;
  display: grid;
  grid-template-areas:  "mainmenu mainmenu"
                        "sidemenu page";
  grid-template-rows: $main-height auto;
  grid-template-columns: $side-width auto;

  @include is-mobile {
    grid-template-rows: $main-height auto;
    grid-template-columns: 30px auto;
  }
}

.nav {
  position: sticky;
  display: flex;
  left: 0;
  background-color: $foreground-color;

  &__main {
    grid-area: mainmenu;
    top: 0;
    width: 100%;
    height: $main-height;
    padding: $space-md $space-lg;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    z-index: 20;

    @include is-mobile {

    }
  }

  &__side {
    grid-area: sidemenu;
    top: $main-height;
    width: $side-width;
    height: 100%;
    padding: $space-xl 0 $space-md 0;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    border-right: 1px solid $border-color;
    z-index: 10;

    @include is-mobile {
      width: 30px;
    }
  }
}

.page {
  grid-area: page;
  padding: 0 $space-xl $space-xl $space-xl;

  @include is-mobile {
    padding: $space-sm $space-sm;
  }

  .title {
    color: $color-font-dark-strong;
    font-size: $font-lg;
    font-weight: $font-bold;
  }
}

.card {
  background-color: $color-white;
  margin-bottom: $space-md;
  border-radius: $border-radius;

  &.--transparent {
    background-color: transparent;
    padding: $space-xl 0;
    margin-bottom: 0;
  }
}