$color-font-dark-strong: #14112D;
$color-font-dark-weak: #354052;
$color-font-light-strong: #77848F;
$color-font-light-weak: #C0C5D2;

$border-color: #EBEDF8;
$background-color: #F2F2F2;
$foreground-color: #FAFBFC;

$color-black: #000000;
$color-white: #ffffff;
$color-primary: #0077FF;
$color-primary--half: #0077FF50;
$color-secondary: #F0166D;

$font-bold: 700;
$font-regular: 400;

$font-xxs: .67rem;  // 10.45px
$font-xs: .8rem;    // 12px
$font-sm: .93rem;   // 14px
$font-md: 15px;     // 1rem
$font-lg: 1.4rem;   // 21px
$font-xl: 1.8rem;   // 27px

$space-xs: .25rem;  // 3.75px
$space-sm: .5rem;   // 7.5px
$space-md: 1rem;    // 15px
$space-lg: 1.5rem;  // 22.5px
$space-xl: 2rem;    // 30px

$main-height: 70px;
$side-width: 90px;
$border-radius: 4px;
